{% extends 'WebApp/base.html' %}
{% load static %}

{% block title %}
    Compradores
{% endblock title %}
{% block content %}
<h2 class="text-center mt-2">Buscar Comprador</h2> 
<div class="d-flex flex-column align-items-center mb-2">
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Buscar..." required>
        <button type="submit">Buscar</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
            {% for comprador in compradores %}
          <tr>
            <td>{{ comprador.nombre }}</td>
            <td>{{ comprador.apellido }}</td>
            <td>{{ comprador.email }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
</div>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">
            
            <form action="" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input name="nombre" type="text" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Apellido</label>
                  <input name="apellido" type="text" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input name="email" type="email" class="form-control">
                </div>
          
                <button type="submit" class="btn btn-primary">Crear Comprador</button>
          
          </form>

        </div>
    </div>
</div>
<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Pagina especializada en Compra y Venta de Prodcutos</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">E-Commerce</h4>
              <p class="text-muted">Vende tus productos con nosotros</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Atencion 24/7</h4>
              <p class="text-muted">Si necesitas asistencia no dudes en contactarnos!</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">Web Segura</h4>
              <p class="text-muted">No te preocupes por tu venta, te aseguramos una transaccion 100% segura</p>
          </div>
      </div>
  </div>
</section>

{% endblock  %}
    